/* Fondo general */
/* html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #0f172a; /* azul oscuro
} */

/* Contenedor principal */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  font-family: "Inter", sans-serif;
  color: #f1f5f9; /* texto claro */
  padding: 0;
  position: relative;
  background-color: #0F172A; /* azul oscuro */
}

.login-header {
  text-align: center;
  margin-bottom: 2rem;
  width: 100%;
  padding: 1rem;

}

/* Caja de login */
.login-box {
  background-color: #1e293b;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  width: 350px;
  text-align: center;
}

/* Título y texto */
.login-box h2 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  color: #ffffff;
}

.login-box p {
  font-size: 0.9rem;
  color: #94a3b8;
  margin-bottom: 1.5rem;
}

/* Inputs */
.login-form label {
  display: block;
  text-align: left;
  font-size: 0.85rem;
  margin-bottom: 0.3rem;
  color: #cbd5e1;
}

.login-form input {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #334155;
  border-radius: 8px;
  background-color: #0f172a;
  color: #f8fafc;
  outline: none;
  transition: border 0.2s;
}

.login-form input:focus {
  border: 1px solid #6366f1;
  box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.3);
}

/* Sección contraseña */
.password-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.password-section a {
  font-size: 0.8rem;
  color: #4f46e5;
  text-decoration: none;
}

.password-section a:hover {
  text-decoration: underline;
  color: #4338ca;
}

/* Botón */
.login-form button {
  width: 100%;
  margin-top: 1.5rem;
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
  background-color: #6366f1;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s;
}

.login-form button:hover {
  background-color: #5759db;
}

/* Link registro */
.register-link {
  margin-top: 1.5rem;
  font-size: 0.85rem;
  color: #94a3b8;
  padding: 1rem;
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 0;
}

.register-link a {
  color: #4f46e5;
  text-decoration: none;
  font-weight: 500;
}

.register-link a:hover {
  text-decoration: underline;
  color: #4338ca;
}
