.header {
  background-color: #0D1117;
  padding: 1rem 0;
  color: white;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;;
}

.header-title1 {
  margin: 0;
  font-size: 1.5rem;
  text-decoration: none;
  /* Use Roboto with a sensible fallback */
  font-family: 'Roboto', sans-serif;
}
.enlace-header {
  display: inline-block;
  color: #ebeff1;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
}

.easter_egg a{
  color: #0D0E0F;
}
.enlace-header-homero {
  display: inline-block;
  color: #0D0E0F;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
}

.boton-registro {
  display: inline-block;
  background: #0077b6;
  color: #ebeff1;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  box-shadow: 0 6px 18px rgba(86, 151, 236, 0.12);
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
}

/* .nav-list a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
} */

.nav-list a:hover {
  color: #00a8ff;
}

.linea-custom2 {
  width: 80%;
  height: 1px;
  background-color: #cccccc5b;
  /* Center horizontally inside parent */
  margin: 10px auto 20px;
  /* For grid/parent alignment safety */
  justify-self: center;
}